<!DOCTYPE html>
<html>

<head>
    <title>KV Store</title>
    <style>
        body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            max-width: 1200px;
            margin: 0 auto;
        }

        code {
            white-space: pre;
            border: 1px solid #CCC;
            background-color: #EEE;
            border-radius: 2px;
            padding: 1px;
        }

        code.request,
        code.response {
            display: block;
            position: relative;
            white-space: pre;
            margin: 0 0 1em;
        }

        code.request::after,
        code.response::after {
            position: absolute;
            top: 0;
            left: 0;
            border: solid #CCC;
            border-width: 0 1px 1px 0;
            border-bottom-right-radius: 5px;
            font-size: 0.8em;
            color: #999;
        }

        code.request::after {
            content: "Request";
        }

        code.response::after {
            content: "Response";
        }
    </style>
</head>

<body>
    <h1>KV Store</h1>

    <p>Store arbitrary objects in buckets.</p>

    <h2>Create a Bucket</h2>

    <code class="request">
    POST /
    </code>

    <code class="response">
    HTTP/1.1 201 Created
    Location: /c107a214dd7cd225054c607c
    </code>

    <h3>Provide an email address for key recovery</h3>

    <p>The secret key for bucket admin will be emailed to the address provided.</p>

    <code class="request">
    POST /
    Content-Type: application/x-www-form-urlencoded

    email=me@example.com
    </code>

    <h3>Provide a secret key for bucket admin</h3>

    <p>Instead of letting the system autogenerate a key for bucket admin,
        one can be specified at time of creation.</p>

    <code class="request">
    POST /
    Content-Type: application/x-www-form-urlencoded

    admin_key=abcdefghijklmnopqrst
    </code>

    <h3>Provide a key for writing to the bucket</h3>

    <p>If no <code>write_key</code> is provided then the bucket will be writable
        by anyone who knows its url.</p>

    <code class="request">
    POST /
    Content-Type: application/x-www-form-urlencoded

    write_key=0123456789abcdf
    </code>

    <h3>Provide a key for reading from the bucket</h3>

    <p>If no <code>read_key</code> is provided then the bucket will be readable
        by anyone who knows its url.</p>

    <code class="request">
    POST /
    Content-Type: application/x-www-form-urlencoded

    read_key=0123456789abcdf
    </code>

    <h3>Both can of course be provided</h3>

    <p>Either using the same key or different keys.</p>

    <code class="request">
    POST /
    Content-Type: application/x-www-form-urlencoded

    write_key=0123456789abcdf&read_key=0123456789abcdf
    </code>

    <h2>Authentication</h2>

    <p>Keys should be provided in an <code>Authorization</code> header.</p>

    <code class="request">
    GET /c107a214dd7cd225054c607c/welcome
    Authorization: Bearer 0123456789abcdf
    </code>

    <p>Alternatively, they be provided as the username of Basic Auth.</p>

    <code class="request">
    GET /c107a214dd7cd225054c607c/welcome
    Authorization: Basic MDEyMzQ1Njc4OWFiY2RmOg==
    </code>

    <p>Or, as a query param.</p>

    <code class="request">
    GET /c107a214dd7cd225054c607c/welcome?access_key=0123456789abcdf
    </code>

    <h2>Create an Object</h2>

    <code class="request">
    PUT /c107a214dd7cd225054c607c/welcome
    Content-Type: text/plain

    Ahoy!
    </code>

    <code class="response">
    HTTP/1.1 201 Created
    </code>

    <p>For convenince, <code>POST</code> also works:</p>

    <code class="request">
    POST /c107a214dd7cd225054c607c/welcome
    Content-Type: text/plain

    Ahoy!
    </code>

    <h3>Update an Object. (<code>POST</code> still works)</h3>

    <code class="request">
    PUT /c107a214dd7cd225054c607c/welcome
    Content-Type: text/plain

    G'day!
    </code>

    <code class="response">
    HTTP/1.1 204 No Content
    </code>

    <h3>Create an Object with an autogenerated key</h3>

    <code class="request">
    POST /c107a214dd7cd225054c607c
    Content-Type: text/plain

    status is ok
    </code>

    <code class="response">
    HTTP/1.1 201 Created
    Location: /c107a214dd7cd225054c607c/65e1bfd4cfba5
    </code>

    <h3>Objects created as <code>application/json</code> will be validated upon
        creation and served with the correct mime type.</h3>

    <code class="request">
    PUT /c107a214dd7cd225054c607c/data
    Content-Type: application/json

    {"favouriteNumbers":[1,2,3]}
    </code>

    <code class="response">
    HTTP/1.1 201 Created
    </code>

    <code class="request">
    GET /c107a214dd7cd225054c607c/data
    </code>

    <code class="response">
    HTTP/1.1 200 OK
    Content-Type: application/json

    {"favouriteNumbers":[1,2,3]}
    </code>

    <h3>Objects created as <code>application/json</code> will also enforce the
        type on update</h3>

    <code class="request">
    PUT /c107a214dd7cd225054c607c/data
    Content-Type: text/plain

    New favourite: 42
    </code>

    <code class="response">
    HTTP/1.1 409 Conflict
    </code>

    <h3>Objects created as <code>application/x-www-form-urlencoded</code> will
        be converted and stored as JSON.</h3>

    <code class="request">
    PUT /c107a214dd7cd225054c607c/data2
    Content-Type: application/x-www-form-urlencoded

    a=1&b=2
    </code>

    <code class="request">
    GET /c107a214dd7cd225054c607c/data2
    </code>

    <code class="response">
    HTTP/1.1 200 OK
    Content-Type: application/json

    {"a":"1","b":"2"}
    </code>

    <h3>Objects detected as numbers will also enforce a numeric type on update</h3>

    <code class="request">
    PUT /c107a214dd7cd225054c607c/score
    Content-Type: text/plain

    100
    </code>

    <code class="response">
    HTTP/1.1 201 Created
    </code>

    <code class="request">
    PUT /c107a214dd7cd225054c607c/score
    Content-Type: text/plain

    high
    </code>

    <code class="response">
    HTTP/1.1 409 Conflict
    </code>

    <h2>Listing Objects in a bucket</h2>

    <code class="request">
    GET /c107a214dd7cd225054c607c
    Accept: text/plain
    </code>

    <code class="response">
    HTTP/1.1 200 OK
    Content-Type: text/plain

    key: 65e1bfd4cfba5
    value: Ahoy!
    created: 2024-03-01T12:36:41+00:00

    key: score
    value: 100
    created: 2024-03-01T12:38:57+00:00
    </code>

    <h3>Only Keys</h3>

    <code class="request">
    GET /c107a214dd7cd225054c607c?field=key
    Accept: text/plain
    </code>

    <code class="response">
    HTTP/1.1 200 OK
    Content-Type: text/plain

    65e1bfd4cfba5
    data
    score
    </code>

    <h3>As JSON</h3>

    <code class="request">
    GET /c107a214dd7cd225054c607c?field=key
    Accept: application/json
    </code>

    <code class="response">
    HTTP/1.1 200 OK
    Content-Type: application/json

    ["65e1bfd4cfba5","data","score"]
    </code>

    <h3>Only Values</h3>

    <code class="request">
    GET /c107a214dd7cd225054c607c?field=value
    Accept: application/json
    </code>

    <code class="response">
    HTTP/1.1 200 OK
    Content-Type: application/json

    ["Ahoy!",{"a":"1","b":"2"},100]
    </code>
</body>

</html>